html{
    /*background-color: rgb(205, 231, 199);*/
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
#app{
    height: 100%;
    width: 100%;
}
/*.top-bar{*/
    /*padding-top: 40px;*/
    /*padding-bottom: 40px;*/
    /*padding-left: 30px;*/
    /*padding-right: 30px;*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-between;*/

    /*box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);*/

    /*position: fixed;*/
    /*top:0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*overflow: hidden;*/
    /*background-color: #ffffff;*/
/*}*/
/*.button {*/
    /*display: inline-block;*/
    /*border-radius: 4px;*/
    /*font-weight: 700;*/
    /*padding: 12px;*/
    /*text-transform: uppercase;*/
    /*font-size: 12px;*/
    /*color: #0070D3;*/
    /*border: 2px solid rgba(0, 112, 211, 0.5);*/
    /*!*min-width: 170px;*!*/
    /*text-align: center;*/
    /*transition: all 0.2s;*/
    /*cursor: pointer;*/
/*}*/
/*.top-bar-nav-menu .button{*/
    /*min-width: 0;*/
    /*height: 34px;*/
    /*line-height: 30px;*/
    /*cursor: pointer;*/
    /*text-decoration: none;*/
    /*padding-top: 0;*/
    /*padding-bottom: 0;*/

    /*padding: 0;*/
    /*color: rgba(95, 108, 122, 0.5);*/

    /*border-color: transparent;*/
    /*margin-right: 30px;*/

    /*padding-right: 20px;*/
    /*padding-left: 20px;*/
/*}*/
/*.top-bar-nav-menu .button.active {*/
    /*color: #0070D3;*/
/*}*/
/*.top-bar-nav-menu .button:hover{*/
    /*color: #338DDC;*/
/*}*/
/*.top-bar-nav-menu .button.login{*/
    /*color: #0070D3;*/
    /*border: 2px solid rgba(0, 112, 211, 0.5);*/
/*}*/
/*.top-bar ul{*/
    /*margin: 0;*/
/*}*/
/*.top-bar-logo{*/

/*}*/
/*.top-bar-nav-menu{*/

/*}*/

/*.app-setting{*/
    /*flex:1;*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*align-items:stretch;*/
    /*margin-bottom: 48px;*/
    /*!*background-color: rgb(88, 174, 67);*!*/

/*}*/
/*.app-setting > .sidebar{*/
    /*!*background-color: #2a2a2a;*!*/
    /*color: #9e9e9e;*/
    /*width: 235px;*/
    /*border-right: 1px solid #9e9e9e;*/

/*}*/
/*!*.app-setting > .content-wrapper{*!*/
    /*!*flex: 1;*!*/

/*!*}*!*/
/*.content-wrapper{*/
    /*!*margin: auto;*!*/
    /*!*width: 640px;*!*/
    /*!*background-color: #fff;*!*/
    /*!*margin-bottom: 48px;*!*/
    /*!*-webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);*!*/
    /*!*box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);*!*/
    /*word-wrap: break-word;*/
/*}*/

/*@media (max-width: 660px){*/
    /*.content-wrapper{*/
        /*width: 99%;*/
        /*margin: auto;*/
    /*}*/
/*}*/
.app-setting{
    /*margin: 48px 72px;*/
}

